.second {
    background-color: $thisWhite;

    overflow-x: hidden;
    margin-top: -.5%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 100vw;
    padding-top: 10vh;
    &-container {
        padding: $paddingForCentering;
        display: flex;
        flex-direction: column;
    };
    & h3 {
        font-family: 'Open Sans', sans-serif;
        font-size: 300%;
        margin: 0;
        margin-top: 0;
        margin-bottom: 0;
        margin-top: 5%;
    };
    & p {
        @include heroP;
        margin-top: 5%;
        line-height: 1.5;
        padding: 5%;
    }
}

#second > div > ul > li > p {
    padding: 0;
    margin: 0 0 2% 0;
}

@media screen and (min-width: 340px) {
    // .second {
        // min-height: 150vh;
    // }
}

@media screen and (min-width: 470px) {
    .second {
        p {
            font-size: 300%;
        }
    }
}

@media screen and (min-width: 540px) {
    .second {
        &-container {
            padding: 0 10%;
        }
    }
}

@media screen and (min-width: 760px) {
    .second {
        // min-height: 160vh;
        &-container {
            padding: 0 15%;
        }
    }
}

@media screen and (min-width: 1000px) {
    .second {
        max-width: 75vw;
        min-width: 75vw !important;
        // min-height: 150vh;
    }
}

@media screen and (min-width: 1050px) {
    .second {
        &-container {
            padding: 0 20%;
        }
        h2 {
            font-size: $secondH1;
        }
    }
}

@media screen and (min-width: 1300px) {
    .second {
        // max-height: min-content;
        &-container {
            padding: 0 20%;
        }
        h2 {
            font-size: $thirdH1;
        }
    }
}

@media screen and (min-width: 1450px) {
    .second {
        &-container {
            padding: 0 25%;
        }
    }
}