.wrapper {
    max-width: 100vw;
}
.nav {
    width: 100%;
    height: 10%;
    border-bottom: solid 2px $mainColor;
    display: flex;
    justify-content: space-between;

    background-color: $thisWhite;
    position: fixed;
    z-index: 4;
    overflow: hidden;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &__button-logo {
        background: none;
        color: inherit;
        border: none;
        height: 80%;
        margin-left: 10px;
        cursor: pointer;
        animation-name: moveInRight;
        animation-duration: .5s;
        align-self: center;
    };
    .logo {
        height: 100%;
        // align-self: center;
    }
    &__button-x {
        animation-name: moveInRight;
        animation-duration: .5s;
        height: 53%;
        width: 11%;

        background-image: linear-gradient(to right, $mainColor, #000000);
        cursor: pointer;
        border-radius: 15%;
        position: relative;
        align-self: center;
        z-index: 3;

        right: 4%;
    };
    &__button-x div  {
        width: 75%;
        height: 12px;
        margin: 0;
        @include transformTranslateNegative50;
    }
    &__button-x span  {
        background: #fff;
        width: 100%;
        height: 2px;
        border-radius: 100px;
        display: block;
        @include transformTranslateNegative50;
        transition: transform .5s, width .5s;
    }
    &__button-x .line-1 {
        width: 50%;
        transform: translate(-100%, -10px);
    }
    &__button-x .line-3 {
        left: auto;
        right: 0;
        width: 50%;
        transform: translate(0, 7px);
    }
    &__button-x-open .line-1 {
        transform: translate(0, 0) rotate(-47deg);
        transform-origin: 0 0;
    }
    &__button-x-open .line-3 {
        transform: translate(-95%, 0) rotate(-45deg);
        transform-origin: 100% 0;
    }
    &__button-x-open .line-2 {
        transform: translate(-45%, -45%) rotate(45deg);
    }
    // &__logo {
    //     height: 6em;
    //     width: auto;
    //     align-self: center;
    //     margin-top: -5%;
    // };
};
.main {
    display: flex;
    flex-direction: column;
    .hero {
        height: 90vh;
        overflow: hidden;
        min-width: 100vw;
        background-image: linear-gradient(transparent 10%, $thisWhite 90%);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .cover-photo {
        @include cover;
        overflow: hidden;
        max-width: 100%;
        z-index: -1;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 79%);
    };
    .hero-video {
        @include cover;
        overflow: hidden;
        max-width: 100%;
        z-index: -1;
    };
    .hero-text-div {
        display: inline-block;
        & h1 {
            &:nth-child(1) {
                animation-duration: 1s;
            };
            &:nth-child(2) {
                animation-duration: 1.5s;
            };
            &:nth-child(3) {
                animation-duration: 2s;
            };
        };
        & p {
            color: $mainColor;
            @include hero-text;
            display: inline-block;
            animation-name: moveInSlogan;
            font-size: 500%;
            font-family: 'Oooh Baby', cursive;
            font-style: italic;
            &:nth-child(4) {
                animation-duration: 3s;
            }
            &:nth-child(5) {
                animation-duration: 3.1s;
            }
            &:nth-child(6) {
                animation-duration: 3.2s;
            }
            &:nth-child(7) {
                animation-duration: 3.3s;
            }
            &:nth-child(8) {
                animation-duration: 3.4s;
            }
        }
    };
}

@media screen and (min-width: 325px) {
    .nav {
        &__button-x {
            width: 9%;
        };
    };
}

@media screen and (min-width: 374px) {
    .nav {
        height: 11em;
    };
    .hero {
        .behind-nav {
            height: 11em;
        }
        &__logo {
            margin-top: -10%;
        };
        
    }
}

@media screen and (min-width: 450px) {
    .nav {
        &__button-x {
            width: 8%;
        };
    };
}

@media screen and (min-width: 560px) {
    .nav {
        height: 13em;
        &__button-x {
            width: 8%;
        };
    };
    .hero {
        &__logo {
            height: 8em;
            margin-top: -10%;
            margin-left: 5%;
        };
        .behind-nav {
            height: 13em;
        }
        .hero-slogan {
            // font-size: 425%;
        }
    }
}

@media screen and (min-width: 650px) {
    .nav {
        &__button-x {
            width: 6.5%;
        };
    };
    .hero {
        &__logo {
            margin-top: -10%;
        }
    };
};

@media screen and (min-width: 840px) {
    .nav {
        &__button-x {
            width: 5.5%;
        };
    };
    .hero {
        &__logo {
            margin-top: -15%;
        };
    };
};

@media screen and (min-width: 1000px) {
    .wrapper {
        max-width: 75vw;
        min-width: 75vw !important;
    }
    .hero {
        max-width: 75vw;
        min-width: 75vw !important;
        &-video {
            @include cover;
            overflow: hidden;
            max-width: 100%;
            z-index: -1;
        }
    }
}

@media screen and (min-width: 1040px) {
    .nav {
        &__button-x {
            width: 4.5%;
        };
    };
    .hero {
        &__logo {
            margin-top: -20%;
        }
    };
};

@media screen and (min-width: 1200px) {
    .nav {
        &__button-x {
            width: 3.5%;
        };
    };
    .hero {
        &__logo {
            margin-top: -25%;
        };
    };
};

@media screen and (min-width: 1300px) {
    .hero {
        &__logo {
            margin-top: -35%;
        };
    };
};

@media screen and (min-width: 1600px) {
    .nav {
        &__button-x {
            width: 3%;
        };
    };
};