.services {
    min-width: 0;
    background-color: $thisWhite;
    margin-top: -.5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;

    & h2 {
        @include heroH2;
    }

    &__list {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: $paddingForCentering;
    }
    &__div {
        width: 95%;
    }
    &__header {
        @include heroH3;
        transition: .6s;
        margin-bottom: 3%;
        cursor: pointer;
        // align-self: center;
        display: inline-block;
        &:hover {
            color: $secondColor;
        }
    };
    &__paragraph {
        @include heroP;
        margin-top: 0;
        transition: height 0.5s;
    }
}

@media screen and (min-width: 470px) {
    .services {
        p {
            font-size: 300%;
        }
        &__header {
            font-size: 350%;
        }
    }
}

@media screen and (min-width: 540px) {
    .services {
        &__list {
            padding: 0 10%;
        }
    }
}

@media screen and (min-width: 760px) {
    .services {
        &__list {
            padding: 0 15%;
        }
        &__header {
            font-size: 375%;
        }
    }
}

@media screen and (min-width: 1000px) {
    .services {
        max-width: 75vw;
        min-width: 75vw !important;
    }
}

@media screen and (min-width: 1050px) {
    .services {
        &__list {
            padding: 0 20%;
        }
        h2 {
            font-size: $secondH2;
        }
        &__header {
            font-size: 425%;
        }
    }
}

@media screen and (min-width: 1250px) {
    .services {
        &__list {
            padding: 0 20%;
        }
        h2 {
            font-size: $secondH2;
        }
        &__header {
            font-size: 425%;
        }
    }
}

@media screen and (min-width: 1300px) {
    .services {
        &__list {
            padding: 0 20%;
        }
        h2 {
            font-size: $thirdH2;
        }
    }
}

@media screen and (min-width: 1450px) {
    .services {
        &__list {
            padding: 0 25%;
        }
    }
}