.why-envysion {
    background-color: $thisWhite;
    position: relative;
    overflow-x: hidden;
    margin-top: -.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100vw;

    & h2 {
        @include heroH2;
    }
    & h3 {
        @include h3;
        margin: 5% 0 15% 0;
        padding: $paddingForCentering;
    }
    & p {
        @include heroP;
        margin-top: 15%;
        line-height: 1.3;
    }
    &__list {
        height: fit-content;
        padding: 0 5%;
        &--div {
            margin-top: 0;
            height: 30%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
        }
        &--icon {
            height: 20em;
        }
    }
}

@media screen and (min-width: 340px) {
    .why-envysion {
        &__list {
            // &--icon {
            //     width: 100%;
            //     height: auto;
            // }
        }
    }
}

@media screen and (min-width: 470px) {
    .why-envysion {
        &__list {
            p {
                font-size: 300%;
            }
            h3 {
                font-size: 350%;
            }
            // &--icon {
            //     width: 60%;
            //     height: auto;
            // }
        }
    }
}

@media screen and (min-width: 540px) {
    .why-envysion {
        &__list {
            padding: 0 10%;
        }
    }
}

@media screen and (min-width: 760px) {
    .why-envysion {
        &__list {
            padding: 0 15%;
            h3 {
                font-size: 375%;
            }
        }
    }
}

@media screen and (min-width: 1000px) {
    .why-envysion {
        max-width: 75vw;
        min-width: 75vw !important;
    }
    .tech-focused {
        justify-self: center;
    }
}

@media screen and (min-width: 1050px) {
    .why-envysion {
        h2 {
            font-size: $secondH1;
        }
        &__list {
            h3 {
                font-size: 425%;
            }
        }
    }
}

@media screen and (min-width: 1250px) {
    .why-envysion {
        // min-height: 310vh;
    }
}

@media screen and (min-width: 1300px) {
    .why-envysion {
        h2 {
            font-size: $thirdH1;
        }
        &__list {
            padding: 0 20%;
        }
    }
}

@media screen and (min-width: 1450px) {
    .why-envysion {
        &__list {
            padding: 0 25%;
        }
    }
}