.pricing {
    &-section {
        @include andSection;
        animation-name: moveInRight;
        animation-duration: .7s;
    }
    
    //
    
    .cta-orange__services {
        @include callToAction;
        align-self: center;
        margin-top: 20%;
    }
}