.pricing-section {
    @include andSection;

    h2 {
        animation-name: moveInRight;
        animation-duration: .7s;
    }

    .carousel-container {
        width: 90%;
        height: 80em;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        border-radius: 2em;

        
        transform-style: preserve-3d;
        transition: all .5s ease;

        &:hover {
            transform: rotateY(180deg);
        }

        .carousel-container__content-front, .carousel-container__content-back {
            @include carousel;
            border: 1px solid $mainColor;
            animation-name: moveInRight;
            transform-style: preserve-3d;
            position: absolute;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            -webkit-backface-visibility: hidden;
            border-radius: 2em;
            perspective: 1000px;
        }

        &__content-back {
            background-color: lawngreen;
            transform:rotateY(180deg);
        }
        &__content-front--websites {
            background-image: url('../../../src/assets/pricing/websites.jpg');
        }
        &__content-back--websites {
            //
        }


        &__content-front--search-engine-optimization {
            background-image: url('../../../src/assets/pricing/seo.jpg');
        }
        &__content-back--search-engine-optimization {
            //
        }


        &__content-front--email-marketing {
            background-image: url('../../../src/assets/pricing/email-marketing.jpg');
        }
        &__content-back--email-marketing {
            //
        }


        &__content-front--sms-marketing {
            background-image: url('../../../src/assets/pricing/sms-marketing.jpg');
        }
        &__content-back--sms-marketing {
            //
        }


        &__content-front--digital-advertisements {
            background-image: url('../../../src/assets/pricing/digital-advertisements.jpg');
        }
        &__content-back--digital-advertisements {
            //
        }
    }

    .next {
        height: 4em;
        width: 8em;
        border-radius: 5em;
        border: 1px solid $mainColor;
        background: $thisWhite;

        align-self: center;
        margin-bottom: 2em;
        @include hoverButton;
    }
}