@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    opacity: 0.2;
    transform: translate(0.25rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInSlogan {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    opacity: 0.2;
    transform: translate(2rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.home {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.home__logo {
  max-width: 100%;
  max-height: auto;
  display: inline-block;
}
.home__nav {
  height: 7vh;
  border-bottom: solid 2px #063831;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FEFDFF;
  position: fixed;
  z-index: 1;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 2.5rem 4rem rgba(8, 6, 6, 0.5);
}
.home__nav--button-logo {
  background: none;
  color: inherit;
  border: none;
  max-width: 40%;
  height: 100%;
  cursor: pointer;
  margin-left: 3%;
  margin-top: 4%;
}
.home__nav--button-x {
  width: 10%;
  height: 60%;
  background-image: linear-gradient(to right, #063831, #000000);
  cursor: pointer;
  border-radius: 15%;
  position: relative;
  margin-right: 4%;
  z-index: 3;
}
.home__nav--button-x div {
  width: 75%;
  height: 12px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home__nav--button-x span {
  background: #fff;
  width: 100%;
  height: 2px;
  border-radius: 100px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.5s, width 0.5s;
}
.home__nav--button-x .line-1 {
  width: 50%;
  transform: translate(-100%, -10px);
}
.home__nav--button-x .line-3 {
  left: auto;
  right: 0;
  width: 50%;
  transform: translate(0, 7px);
}
.home__nav--button-x-open .line-1 {
  transform: translate(0, 0) rotate(-47deg);
  transform-origin: 0 0;
}
.home__nav--button-x-open .line-3 {
  transform: translate(-95%, 0) rotate(-45deg);
  transform-origin: 100% 0;
}
.home__nav--button-x-open .line-2 {
  transform: translate(-45%, -45%) rotate(45deg);
}
.home .behind-nav {
  position: relative;
  height: 7vh;
}
.home .hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(transparent, #FEFDFF);
}
.home .hero-video {
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100vw;
  z-index: -1;
}
.home .hero-text-div {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
.home .hero-heading {
  font-size: 500%;
  margin: 0.5rem 0 0.5rem 1.5rem;
  animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
  animation-name: moveInRight;
}
.home .hero-heading__envysion {
  animation-duration: 1s;
  margin-top: 3rem;
}
.home .hero-heading__digital {
  animation-duration: 1.5s;
}
.home .hero-heading__marketing {
  animation-duration: 2s;
}
.home .hero-slogan {
  font-size: 500%;
  margin: 0.5rem 0 0.5rem 1.5rem;
  animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
  font-family: "Open Sans", sans-serif;
  display: inline-block;
  animation-name: moveInSlogan;
  font-size: 400%;
}
.home .hero-slogan__we {
  animation-duration: 3s;
}
.home .hero-slogan__can {
  animation-duration: 3.1s;
}
.home .hero-slogan__when {
  animation-duration: 3.2s;
}
.home .hero-slogan__we--two {
  animation-duration: 3.3s;
}
.home .hero-slogan__envysion {
  animation-duration: 3.4s;
}

.menu-cover {
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(transparent, #97B1AB 75%), url("../../src/assets/stripes-light.png");
  z-index: 2;
  opacity: 0.95;
}
.menu-cover__list {
  margin-top: 7%;
  margin-left: 1%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.menu-cover__list--ul {
  list-style-type: none;
  font-size: 500%;
  margin: 0.5rem 0 0.5rem 1.5rem;
  animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
  padding: 0;
}
.menu-cover__list--li {
  margin-bottom: 4%;
  opacity: 1;
}
.menu-cover__list--anchor:link {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
  cursor: pointer;
}
.menu-cover__list--anchor:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
  cursor: pointer;
}

.about {
  height: 93vh;
  background-color: #FEFDFF;
  position: relative;
  overflow: hidden;
}
.about h2 {
  font-size: 500%;
  position: absolute;
  position: relative;
  top: 3%;
  left: 5%;
  margin-top: 0;
  margin-bottom: 0;
}
.about h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 400%;
  margin: 0;
  position: absolute;
  position: relative;
  top: 5%;
  left: 5%;
  margin-right: 12%;
  margin-top: 0;
  margin-bottom: 0;
}
.about p {
  font-family: "Open Sans", sans-serif;
  font-size: 300%;
  font-weight: 500;
  color: #063831;
  letter-spacing: 0.2rem;
  padding: 4%;
  margin-top: 0;
  position: absolute;
  top: 20%;
  left: 1%;
  line-height: 1.3;
}

.services {
  height: 93vh;
  background-color: #FEFDFF;
  position: relative;
  overflow-x: hidden;
  margin-top: -0.5%;
}
.services h2 {
  font-size: 500%;
  position: absolute;
  position: relative;
  top: 3%;
  left: 5%;
  margin-top: 0;
  margin-bottom: 0;
}
.services__list {
  margin: 0;
  position: absolute;
  position: relative;
  top: 5%;
  left: 5%;
  margin-right: 12%;
  margin-top: 0;
  margin-bottom: 0;
  height: 5%;
}
.services__header {
  font-family: "Open Sans", sans-serif;
  font-size: 400%;
  display: inline-block;
  cursor: pointer;
}
.services__paragraph {
  font-family: "Open Sans", sans-serif;
  font-size: 300%;
  font-weight: 500;
  color: #063831;
  letter-spacing: 0.2rem;
  margin-top: 0;
  transition: height 0.5s;
}

.why-envysion {
  height: 93vh;
  background-color: #FEFDFF;
}

.pricing {
  height: 93vh;
  background-image: linear-gradient(#FEFDFF, #97B1AB);
}

.contact {
  height: 93vh;
  background-color: #97B1AB;
  margin-top: -0.5%;
}

body, html {
  height: 100%;
  margin: 0;
  font-size: 62.5%;
  font-family: "League Spartan", sans-serif;
  font-weight: 400;
  color: #063831;
  width: 100%;
  scroll-padding-top: 7vh;
}

/*# sourceMappingURL=style.css.map */
