.pricing--hero {
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.behind-nav {
    position: relative;
    @include navHeight($navHeight);
}

.pricing-section {
    @include andSection;
    padding: 0;
    min-height: 90vh;
    animation-name: moveInRight;
    animation-duration: .7s;
    min-width: 100vw;

    .pricing-header {
        @include nonheroH2;
    }

    .carousel-container {
        width: 90%;
        height: 55vh;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        transform-style: preserve-3d;
        transition: all .5s ease;
        position: relative;
        margin-top: 5%;

        &:hover {
            transform: rotateY(180deg) translateY(-3%);
        }

        &__content-front, &__content-back {
            @include carousel;
            border: 1px solid $mainColor;
            transform-style: preserve-3d;
            position: absolute;
            backface-visibility: hidden;
            -webkit-backface-visibility: hidden;
            perspective: 1000px;
            display: flex;
            flex-direction: column;
        }
        
        &__content-front--header, &__content-back--header {            
            max-width: fit-content;
            max-width: -moz-fit-content;
            margin-right: 10%;
            padding: 0 .5em;
            background: $thisWhite;
            opacity: .85;
            font-family: 'Open sans';
            color: $mainColor;
            font-size: 2.5vh;
            font-weight: 200;
            width: 100%;
            margin-bottom: 0;
            align-self: flex-start;
            box-shadow: 0 1.75rem 1.5rem rgba(8, 6, 6, 0.5);
        };

        &__content-front--header {
            margin-top: 1em;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            border: 1px $mainColor;
            border-top:  solid;
            border-bottom:  solid;
            border-right:  solid;
            padding: .5em;
        }

        &__content-back--header {
            @include transformTranslateNegative50;
            top: 40%;
            padding: 1em;
            margin-top: 0;
            border-radius: 5px;
            border: 1px solid $fourthColor;
        }

        &__content-back {
            transform:rotateY(180deg);
            background-image: linear-gradient(to bottom, $thisWhite, $mainColor);
            align-self: center;
            justify-self: center;
        }
        &__content-front--websites {
            background-image: url('../../../src/assets/pricing/websites.jpg');
        }
        &__content-back--websites {
            //
        }


        &__content-front--search-engine-optimization {
            background-image: url('../../../src/assets/pricing/seo.jpg');
        }
        &__content-back--search-engine-optimization {
            //
        }


        &__content-front--email-marketing {
            background-image: url('../../../src/assets/pricing/email-marketing.jpg');
        }
        &__content-back--email-marketing {
            //
        }


        &__content-front--sms-marketing {
            background-image: url('../../../src/assets/pricing/sms-marketing.jpg');
        }
        &__content-back--sms-marketing {
            //
        }


        &__content-front--digital-advertisements {
            background-image: url('../../../src/assets/pricing/digital-advertisements.jpg');
        }
        &__content-back--digital-advertisements {
            //
        }
    }

    .next {    
        margin: 2em 0 4em 0;
        height: 4em;
        width: 8em;
        border-radius: 5em;
        border: 1px solid $mainColor;
        background: $thisWhite;

        align-self: center;
        @include hoverButton;
    }
    .cta-orange__pricing {
        @include callToAction;
        align-self: center;
        position: absolute;
        bottom: .25em;
    }
}

@media screen and (min-width: 300px) {
    .carousel-container {
        width: 85% !important;
    }
}

@media screen and (min-width: 400px) {
    .carousel-container {
        width: 70% !important;
    }
}//height: 55vh;

@media screen and (min-width: 420px) {
    .carousel-container {
        width: 75% !important;
        height: 50vh !important;
    }
}

@media screen and (min-width: 450px) {
    .carousel-container {
        width: 60% !important;
    }
}

@media screen and (min-width: 500px) {
    .pricing {
        &-section {
            .pricing-header {
                margin-top: 10%;
            }
        }
    }
}

@media screen and (min-width: 550px) {
    .carousel-container {
        width: 55% !important;
    }
}

@media screen and (min-width: 600px) {
    .pricing {
        &-section {
            .pricing-header {
                margin-bottom: 1%;
            }
        }
    }
}

@media screen and (min-width: 650px) {
    .pricing-header {
        // margin-top: 10% !important;
    }
    .carousel-container {
        width: 40% !important;
    }
}

@media screen and (min-width: 750px) {
    .carousel-container {
        // width: 45% !important;
    }
}

@media screen and (min-width: 800px) {
    .carousel-container {
        // width: 45% !important;
    }
}

@media screen and (min-width: 600px) {
    .pricing {
        &-section {
            .pricing-header {
                margin-bottom: 0%;
            }
        }
    }
}

@media screen and (min-width: 650px) {
    .pricing {
        &-section {
            .pricing-header {
                // margin-top: 7% !important;
            }
        }
    }
}

@media screen and (min-width: 750px) {
    .pricing {
        &-section {
            .pricing-header {
                // margin-top: .25%;
            }
        }
    }
}

@media screen and (min-width: 900px) {
    .pricing {
        &-section {
            .pricing-header {
                // margin-top: .05%;
            }
        }
    }
    .carousel-container {
        width: 35% !important;
    }
}

@media screen and (min-width: 1000px) {
    .pricing-section {
        max-width: 70vw;
        min-width: 70vw;
        // max-height: max-content;
        // overflow: hidden;
        // margin-bottom: 0;
        align-items: flex-start;
        .next {
            margin-bottom: 0 !important;
        }
        .pricing-header {
            // margin-top: 7% !important;
        }
    }
}

@media screen and (min-width: 1050px) {
    .carousel-container {
        width: 40% !important;
    }
}

@media screen and (min-width: 1100px) {
    .pricing-section {
        // h2 {
        //     margin-top: 6% !important;
        //     margin-bottom: 0% !important;
        // }
    }
}

@media screen and (min-width: 1150px) {
    .carousel-container {
        width: 35% !important;
    }
}

@media screen and (min-width: 1300px) {
    .pricing {
        &-section {
            .pricing-header {
                font-size: $thirdH2;
            }
        }
    }
    .carousel-container {
        height: 45vh !important;
        width: 25% !important;

    }
}