.blog-home {
    padding-bottom: 5%;
    overflow-y: scroll;
    &__paragraph {
        &--intro {
            margin: 0 0 10% 0 !important;
        };
        &--hashtag {
            font-style: italic;
            color: $thirdColor !important;
            margin-top: 5% !important;
        }
    }
    &__main {
        overflow-y: scroll;
    }
}