.main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.contact--hero {
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.hero__nav {
    z-index: 2;
}
.contact {
    h2{
        @include nonheroH2;
    }
    padding-top: 5%;
    animation-name: moveInRight;
    animation-duration: .7s;
    @include andSection;
    font-size: 75%;
    margin: 0;
    padding: 0;
    .form-container {
        margin: 0;
    }
    form {
        width: 70%;
        margin: 0 auto;
    }
    .input-div {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15em;
        margin-bottom: 6em;
        display: flex;
        flex-direction: row;
        justify-content: center;

        position: relative;
    }
    input, select, option {
        @include inputs;
    }
    span {
        z-index: 0;
        position: absolute;
        width: 100%;
        background: transparent;
        border: none;
        border-radius: 4px;
        padding: 10px;
        box-sizing: border-box;
        outline: none;
        
        font-size: 225%;
        font-family: 'league_spartanbold';
        font-weight: 100;
        color: $mainColor;
        transition: .5s;
        pointer-events: none;
    }
    input:focus, select:focus, option:focus {
        box-shadow: $box-shadow;
    }
    input:focus ~ span,
    input:valid ~ span {
        transform: translateX(-10px) translateY(-32px);
        font-size: 200%;
    }
    input[type='submit'] {
        background: $mainColor;
        color: $thisWhite;
        cursor: pointer;
        border: none;
        max-width: 50%;
        @include hoverButton;
        margin-top: 25%;
    }
    .cta-orange__services {
        @include callToAction;
        align-self: center;
        margin-top: 20%;
    }
}

@media screen and (min-width: 420px) {
    .contact {
        form {
            width: 60%;
        }
    }
}

@media screen and (min-width: 470px) {
    .contact {
        p {
            font-size: 300%;
        }
    }
}

@media screen and (min-width: 500px) {
    .contact {
        form {
            width: 50%;
        }
        h2 {
            margin-top: 5%;
        }
    }
}

@media screen and (min-width: 540px) {
    .contact {
        // &__div {
        //     width: 70%;
        // }
    }
}

@media screen and (min-width: 650px) {
    .contact {
        form {
            width: 40%;
        }
    }
}

@media screen and (min-width: 900px) {
    .contact {
        form {
            width: 30%;
        }
        input[type='submit'] {
            margin-top: 5%;
        }
    }
}

@media screen and (min-width: 1000px) {
    html {
        display: -ms-grid;
        display: grid;
        grid-template-areas: 
        'one one one one one one'
        'two two two two two three'
        ;
    }
    body {
        width: 100vw;
    }
    .nav-area {
        grid-area: one;
    }
    .main {
        width: 75vw;
    }
    .contact {
        grid-area: two;
        position: relative;
        max-width: 70vw;
        min-width: 70vw;
        overflow: hidden;
        margin-bottom: 0;
        width: 70vw;
        margin-bottom: 0;
        .cta-orange__services {
            margin-bottom: 25%;
        }
        h2 {
            margin-left: 1.5%;
        }
    }
}

@media screen and (min-width: 1050px) {
    .contact {
        h2 {
            font-size: $secondH1;
        }
        // &__header {
        //     font-size: 425%;
        // }
    }
}

@media screen and (min-width: 1300px) {
    .contact {
        h2 {
            font-size: $thirdH1;
        }
    }
}