//Classy Palette
$mainColor: #063831;
$secondColor: #97B1AB;
$thirdColor: #647C77;
$fourthColor: #1D324B;
$fifthColor: #4D607C;
$thisWhite: #FEFDFF;

$navHeight: 10vh;
$sectionHeight: 100vh - $navHeight;
$box-shadow: 0 2.5rem 3rem rgba(8, 6, 6, 0.5);

$paddingForCentering: 0 5%;


$firstP: 300%;


$firstH1: 450%;
$secondH1: 500%;
$thirdH1: 550%; 

@mixin cover {
    height: 100vh;
    overflow: hidden;
    min-width: 100%;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
@mixin transformTranslateNegative50 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@mixin hero-text {
    margin: 0 0 .55rem 0;
    animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
@mixin anchorTags {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}
@mixin navHeight($height) {
    height: $height;
}

@mixin hoverButton {
    transition: .2s;
    cursor: pointer;
    &:hover {
        box-shadow: $box-shadow;
        transform: translateY(-7px);
    }
    &:active {
        box-shadow: 0 1.75rem 1.5rem rgba(8, 6, 6, 0.5);
        transform: translateY(0px);
    }
}
@mixin callToActionStandardStuff {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    background-color: #FFA50A;
    color: $thisWhite;
    @include hoverButton;
}
@mixin callToAction {
    @include callToActionStandardStuff;
    padding: .75em 1em;
    margin-top: 10%;
    margin-bottom: 15%;
    border-radius: 5px;
    font-size: 250%;
}
@mixin andSection {
    margin-top: -.5%;
    padding: $paddingForCentering;
    background-color: $thisWhite;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    & h2 {
        font-size: 500%;
        display: inline-block;
        margin-top: 10%;
        align-self: center;
    }
}
@mixin inputs {
    height: 4em;
    width: 100%;
    background: transparent;
    border: 1px solid $mainColor;
    border-radius: 4px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    font-size: 225%;
    font-family: 'league_spartanbold';
    font-weight: 100;
    color: $mainColor;
    z-index: 1;
}

@mixin carousel {
    width: 100%;
    height: 100%;
    border-radius: 2em;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center center;
}

@mixin heroH2 {
    margin: 5% 0 5% 0;
    align-self: center;
}

@mixin nonheroH2 {
    margin: 15% 0 5% 0;
    align-self: center;
}

@mixin h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 325%;
    font-style: italic;
}

@mixin heroP {
    font-family: 'Open Sans', sans-serif;
    font-size: $firstP;
    font-weight: 500;
    color: $mainColor;
    letter-spacing: .05rem;
}

@mixin clay {
    -webkit-backdrop-filter: blur(100px); 
    backdrop-filter: blur(100px); 
    background-color: rgba(255, 255, 255, 0.5); 
    border-radius: 66px;
    box-shadow: 55px 55px 50px 0px rgb(6 56 49 / 50%), inset -5px -1px 9px 0px rgb(6 56 49 / 60%), inset 0px 11px 20px 0px rgb(255 255 255);
}