.footer {
    min-height: $sectionHeight + .5vh;
    background-image: linear-gradient($thisWhite, $secondColor, $thirdColor);
    margin-top: -.5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
    min-width: 100vw;

    hr {
        margin: 5% 0; 
        width: 20%;
        border-color: $mainColor;
        border-top: solid .5px;
    }

    a, a:link, a:visited, a:focus, a:hover, a:active {
        @include heroP;
        font-size: 200%;
        color: $mainColor !important;
        text-decoration: none;
    }
    
    .footer-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: $paddingForCentering;
    }

    &-logo {
        margin-top: 25%;
        width: 65%;
    }

    .footer-mission-statement {
        font-size: 300%;

        font-family: 'Open Sans', sans-serif;
        // font-family: 'josefin_sansthin';
        // font-size: 250%;
        font-weight: 500;
        // color: $mainColor;
        // letter-spacing: .01rem;
        font-weight: bolder;
        font-style: italic;
        margin: 5% 0;
        // margin-top: 5%;
        // line-height: 1.3;
    }

    .footer-contacts {
        font-size: 225%;

        font-family: 'Open Sans', sans-serif;
        margin-top: 0;
        margin-bottom: 4%;
    }

    .footer-social-links {
        &__div {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            height: 10%;
            width: 80%;
            margin: 0;
        }
        &__link {
            width: 10%;
            height: 100%;
            padding: 0 1%;
            margin: 0 3% 0 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &__logo {
            width: 80%;
            height: auto;
            margin-left: 30%;
            margin-right: 30%;
            margin-top: 15%;
            cursor: pointer;
            transform: translate(0%, -15%);
        }
        &__logo--facebook {
            margin-left: 0%;
        }
        &__logo:hover {
            animation-name: shutter-in-top;
            animation-duration: 1s;
            animation-timing-function: ease;
            animation-delay: 0s;
            animation-iteration-count: 1;
            animation-direction: normal;
            animation-fill-mode: none;
            /* shorthand 
            animation: shake-vertical 1s ease 0s 1 normal none;
            */ 
        }
    }

    .footer-copyright {
        font-family: 'Open Sans', sans-serif;
        font-size: 225%;
        position: absolute;
        bottom: 1%;
        color: $thisWhite;
    }
}

@media screen and (min-width: 350px) {
    .footer {
        &-logo {
            margin-top: 25%;
            width: 45%;
        }
    }
}

@media screen and (min-width: 500px) {
    .footer {
        &-container {
            padding: 0 3% !important;
        }
        &-logo {
            margin-top: 15%;
            width: 35%;
        }
        &-mission-statement {
            margin: 3% 0 !important;
        }
        &-contacts {
            font-size: 300%;
        }
    }
    .footer-social-links {
        &__logo {
            width: 60% !important;
            height: auto;
            margin-left: 0 !important;
            margin-right: 5% !important;
            margin-top: 0 !important;
        }
        &__link {
            padding: 0 !important;
            justify-content: flex-start !important;
        }
    }
}

@media screen and (min-width: 630px) {
    .footer-social-links {
        &__logo {
            width: 50% !important;
            height: auto;
            margin-left: 0 !important;
            margin-right: 5% !important;
            margin-top: 0 !important;
        }
    }
}

@media screen and (min-width: 1000px) {
    .footer {
        box-shadow: inset 0px 0px 0px .5px $mainColor;
        &-logo {
            margin-top: 10%;
            width: 45%;
        }
    }
    .footer-social-links {
        &__div {
            height: 5% !important;
        }
        &__logo {
            width: 80% !important;
            height: auto;
            margin-left: 0 !important;
            margin-right: 5% !important;
            margin-top: 0 !important;
        }
    }
}