.about {
    min-height: 215vh;
    // min-height: $sectionHeight + .5vh;
    background-color: $thisWhite;

    overflow-x: hidden;
    margin-top: -.5%;
    // position: relative;
    // margin-bottom: 10vh;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    // min-width: 102vw;
    min-width: 103vw;
    &-container {
        padding: $paddingForCentering;
        display: flex;
        flex-direction: column;
        min-height: max-content;
    }
    & h2 {
        @include homeH2;
    }
    & h3 {
        font-family: 'Open Sans', sans-serif;
        font-size: 300%;
        margin: 0;
        margin-top: 0;
        margin-bottom: 0;
        margin-top: 5%;
        // padding: $paddingForCentering
    };
    & p {
        @include homeP;
        margin-top: 5%;
        line-height: 1.5;
    }
}

@media screen and (min-width: 340px) {
    .about {
        min-height: 185vh;
    }
}

@media screen and (min-width: 470px) {
    .about {
        min-height: 200vh;
        p {
            font-size: 325%;
        }
    }
}

@media screen and (min-width: 540px) {
    .about {
        min-height: 180vh;
        &-container {
            padding: 0 10%;
        }
    }
}

@media screen and (min-width: 760px) {
    .about {
        min-height: 160vh;
        &-container {
            padding: 0 15%;
        }
        p {
            font-size: 350%;
        }
    }
}

@media screen and (min-width: 1000px) {
    .about {
        max-width: 70vw;
        min-width: 70vw !important;
        min-height: 200vh;
    }
}

@media screen and (min-width: 1050px) {
    .about {
        min-height: 230vh;
        &-container {
            padding: 0 20%;
        }
        h2 {
            font-size: $secondH2;
        }
    }
}

@media screen and (min-width: 1300px) {
    .about {
        &-container {
            padding: 0 20%;
        }
        h2 {
            font-size: $thirdH2;
        }
    }
}

@media screen and (min-width: 1450px) {
    .about {
        &-container {
            padding: 0 25%;
        }
    }
}