.home {
    min-height: 100%;
    // min-width: 100%;
    max-width: 70vw;
    display: flex;
    flex-direction: column;
    &__logo {
        height: 6em;
        width: auto;
        align-self: center;
        margin-top: -5%;
    };
    &__nav {
        // @include navHeight($navHeight);
        width: 100%;
        height: 10em;
        border-bottom: solid 2px $mainColor;
        display: flex;
        justify-content: space-between;

        background-color: $thisWhite;
        position: fixed;
        z-index: 1;
        overflow: hidden;
        box-shadow: $box-shadow;
        &--button-logo {
            background: none;
            color: inherit;
            border: none;
            width: max-content;
            height: max-content;
            align-self: center;
            margin-left: 10px;
            cursor: pointer;
            animation-name: moveInRight;
            animation-duration: .5s;
            margin-top: 3%;
        };
        &--button-x {
            animation-name: moveInRight;
            animation-duration: .5s;
            height: 53%;
            width: 11%;

            background-image: linear-gradient(to right, $mainColor, #000000);
            cursor: pointer;
            border-radius: 15%;
            position: relative;
            align-self: center;
            margin: auto 0;
            z-index: 3;

            right: 4%;
        };
        &--button-x div  {
            width: 75%;
            height: 12px;
            margin: 0;
            @include transformTranslateNegative50;
        }
        &--button-x span  {
            background: #fff;
            width: 100%;
            height: 2px;
            border-radius: 100px;
            display: block;
            @include transformTranslateNegative50;
            transition: transform .5s, width .5s;
        }
        &--button-x .line-1 {
            width: 50%;
            transform: translate(-100%, -10px);
        }
        &--button-x .line-3 {
            left: auto;
            right: 0;
            width: 50%;
            transform: translate(0, 7px);
        }
        &--button-x-open .line-1 {
            transform: translate(0, 0) rotate(-47deg);
            transform-origin: 0 0;
        }
        &--button-x-open .line-3 {
            transform: translate(-95%, 0) rotate(-45deg);
            transform-origin: 100% 0;
        }
        &--button-x-open .line-2 {
            transform: translate(-45%, -45%) rotate(45deg);
        }
    };
    .behind-nav {
        position: relative;
        @include navHeight($navHeight);
    }
    .hero {
        height: 100vh;
        overflow: hidden;
        // width: 101vw;
        min-width: 103vw;
        // min-width: 100vw;
        // max-width: 100vw;
        // max-width: 70%;
        background-image: linear-gradient(transparent, $thisWhite);
    }
    .hero-video {
        @include cover;
        overflow: hidden;
        max-width: 100%;
        z-index: -1;
    }
    .hero-text-div {
        display: inline-block;
        padding: $paddingForCentering;
        margin-top: 2%;
    }
    .hero-heading {

        animation-name: moveInRight;
        animation-duration: .7s;
        @include hero-text;
        &__envysion {
            animation-duration: 1s;
            margin-top: 10%;
        };
        &__digital {
            animation-duration: 1.5s;
        };
        &__marketing {
            animation-duration: 2s;
        };
    };
    .hero-slogan {
        @include hero-text;
        font-family: 'Open Sans', sans-serif;
        display: inline-block;
        animation-name: moveInSlogan;
        font-size: 275%;
        &__we {
            animation-duration: 3s;
        }
        &__can {
            animation-duration: 3.1s;
        }
        &__when {
            animation-duration: 3.2s;
        }
        &__we--two {
            animation-duration: 3.3s;
        }
        &__envysion {
            animation-duration: 3.4s;
        }
    }
}

@media screen and (min-width: 325px) {
    .home {
        &__nav {
            &--button-x {
                width: 9%;
            };
        };
    }
}

@media screen and (min-width: 374px) {
    .home {
        &__nav {
            height: 11em;
        };
        .behind-nav {
            height: 11em;
        }
        .hero-heading {
            &__envysion {
                margin-top: 7%;
            };
        };
        .hero-slogan {
            font-size: 325%;
        }
        &__logo {
            margin-top: -10%;
        };
    }
}

@media screen and (min-width: 450px) {
    .home {
        &__nav {
            &--button-x {
                width: 8%;
            };
        };
    }
}

@media screen and (min-width: 560px) {
    .home {
        &__logo {
            height: 8em;
            margin-top: -10%;
            margin-left: 5%;
        };
        &__nav {
            height: 15em;
            &--button-x {
                width: 8%;
            };
        };
        .behind-nav {
            height: 15em;
        }
        .hero-text-div {
            margin-top: 3%;
        }
        .hero-heading {
            font-size: 500%;////////////////////////////////////
        }
    }
}

@media screen and (min-width: 750px) {
    .home {
        &__nav {
            &--button-x {
                width: 6.5%;
            };
        };
        &__logo {
            margin-top: -10%;
        }
    };
};

@media screen and (min-width: 840px) {
    .home {
        &__nav {
            &--button-x {
                width: 5.5%;
            };
        };
        &__logo {
            margin-top: -15%;
        };
    };
};

@media screen and (min-width: 1000px) {
    .home, .hero {
        max-width: 70vw;
        min-width: 70vw !important;
    }
    .hero-video {
        @include cover;
        overflow: hidden;
        max-width: 100%;
        z-index: -1;
    }
}

@media screen and (min-width: 1040px) {
    .home {
        &__nav {
            &--button-x {
                width: 4.5%;
            };
        };
        &__logo {
            margin-top: -20%;
        }
    };
};

@media screen and (min-width: 1200px) {
    .home {
        &__logo {
            margin-top: -25%;
        };
        &__nav {
            &--button-x {
                width: 4%;
            };
        };
        .hero-heading {
            font-size: 550%;////////////////////////////////////
        }
        .hero-slogan {
            font-size: 375%;////////////////////////////////////
        }
    };
};

@media screen and (min-width: 1400px) {
    .home {
        &__logo {
            margin-top: -20%;
        }
    };
};

@media screen and (min-width: 1600px) {
    .home {
        &__nav {
            &--button-x {
                width: 3%;
            };
        };
        &__logo {
            margin-top: -25%;
        }
    };
};