.home {
    min-height: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    &__logo {
        height: 6em;
        width: auto;
        align-self: center;
        // margin-left: 5%
    };
    &__nav {
        @include navHeight($navHeight);
        width: 100%;
        height: 10em;
        border-bottom: solid 2px $mainColor;
        display: flex;
        justify-content: space-between;

        background-color: $thisWhite;
        position: fixed;
        z-index: 1;
        overflow: hidden;
        box-shadow: $box-shadow;
        &--button-logo {
            background: none;
            color: inherit;
            border: none;
            width: max-content;
            height: max-content;
            align-self: center;
            margin-left: 10px;
            cursor: pointer;
            animation-name: moveInRight;
            animation-duration: .5s;
            margin-top: 3%;
        };
        &--button-x {
            animation-name: moveInRight;
            animation-duration: .5s;
            height: 60%;
            width: 12%;

            background-image: linear-gradient(to right, $mainColor, #000000);
            cursor: pointer;
            border-radius: 15%;
            position: relative;
            align-self: center;
            margin: auto 0;
            z-index: 3;

            right: 4%;
        };
        &--button-x div  {
            width: 75%;
            height: 12px;
            margin: 0;
            @include transformTranslateNegative50;
        }
        &--button-x span  {
            background: #fff;
            width: 100%;
            height: 2px;
            border-radius: 100px;
            display: block;
            @include transformTranslateNegative50;
            transition: transform .5s, width .5s;
        }
        &--button-x .line-1 {
            width: 50%;
            transform: translate(-100%, -10px);
        }
        &--button-x .line-3 {
            left: auto;
            right: 0;
            width: 50%;
            transform: translate(0, 7px);
        }
        &--button-x-open .line-1 {
            transform: translate(0, 0) rotate(-47deg);
            transform-origin: 0 0;
        }
        &--button-x-open .line-3 {
            transform: translate(-95%, 0) rotate(-45deg);
            transform-origin: 100% 0;
        }
        &--button-x-open .line-2 {
            transform: translate(-45%, -45%) rotate(45deg);
        }
    };
    .behind-nav {
        position: relative;
        @include navHeight($navHeight);
    }
    .hero {
        height: 100vh;
        overflow: hidden;
        min-width: 101vw;
        background-image: linear-gradient(transparent, $thisWhite);
    }
    .hero-video {
        @include cover;
        overflow: hidden;
        max-width: 100%;
        z-index: -1;
    }
    .hero-text-div {
        display: inline-block;
        padding: $paddingForCentering;
        margin-top: 2%;
    }
    .hero-heading {

        animation-name: moveInRight;
        animation-duration: .7s;
        @include hero-text;
        &__envysion {
            animation-duration: 1s;
            margin-top: 10%;
        };
        &__digital {
            animation-duration: 1.5s;
        };
        &__marketing {
            animation-duration: 2s;
        };
    };
    .hero-slogan {
        @include hero-text;
        font-family: 'Open Sans', sans-serif;
        display: inline-block;
        animation-name: moveInSlogan;
        font-size: 275%;
        &__we {
            animation-duration: 3s;
        }
        &__can {
            animation-duration: 3.1s;
        }
        &__when {
            animation-duration: 3.2s;
        }
        &__we--two {
            animation-duration: 3.3s;
        }
        &__envysion {
            animation-duration: 3.4s;
        }
    }
}

@media screen and (max-width: 430px) {
    .home {
        &__nav {
            @include navHeight(9vh);
        };
        .behind-nav {
            @include navHeight(9vh);
        }
        .hero-heading {
            &__envysion {
                margin-top: 9%;
            };
        };
    }
}

@media screen and (min-width: 430px) {
    .home {
        &__nav {
            @include navHeight(9vh);
            &--button-x {
                width: 8%;
            };
        };
        .behind-nav {
            @include navHeight(9vh);
        }
        .hero-heading {
            &__envysion {
                margin-top: 7%;
            };
        };
    }
}

@media screen and (min-width: 560px) {
    .home {
        &__nav {
            @include navHeight(11vh);
        };
        .behind-nav {
            @include navHeight(11vh);
        }
        .hero-heading {
            &__envysion {
                margin-top: 6%;
            };
        };
    }
}

@media screen and (min-width: 670px) {
    .home {
        &__nav {
            &--button-x {
                width: 7%;
            };
        };
        .hero-heading {
            &__envysion {
                margin-top: 5%;
            };
        };
    }
}

@media screen and (min-width: 750px) {
    .home {
        &__nav {
            &--button-x {
                width: 6%;
            };
        };
        .hero-heading {
            &__envysion {
                margin-top: 4%;
            };
        };
    }
}

@media screen and (min-width: 880px) {
    .home {
        &__nav {
            &--button-x {
                width: 5%;
            };
        };
        .hero-heading {
            &__envysion {
                margin-top: 3%;
            };
        };
    }
}

@media screen and (min-width: 1040px) {
    .home {
        &__nav {
            &--button-x {
                width: 4%;
            };
        };
        .hero-heading {
            &__envysion {
                margin-top: 2%;
            };
        };
    }
}

@media screen and (min-width: 1100px) {
    .home {
        &__nav {
            &--button-x {
                width: 3%;
            };
        };
    }
}

@media screen and (min-width: 1420px) {
    .home {
        &__nav {
            &--button-x {
                width: 2%;
            };
        };
        .hero-heading {
            &__envysion {
                margin-top: .5%;
            };
        };
    }
}