.services {
    // min-height: $sectionHeight + .5vh;
    min-height: 100vh;
    min-width: 103vw;
    background-color: $thisWhite;

    margin-top: -.5%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    // position: relative; 
    overflow: hidden;

    & h2 {
        @include homeH2;
    }

    &__list {
        margin-top: 0;
        margin-bottom: 10%;
        // height: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: $paddingForCentering;
    }
    &__div {
        width: 95%;
    }
    &__header {
        @include homeH3;
        transition: .6s;
        margin-bottom: 3%;
        cursor: pointer;
        // align-self: center;
        display: inline-block;
        &:hover {
            color: $secondColor;
        }
    };
    &__paragraph {
        @include homeP;
        margin-top: 0;
        transition: height 0.5s;
    }
}

@media screen and (min-width: 470px) {
    .services {
        p {
            font-size: 325%;
        }
        &__header {
            font-size: 350%;
        }
    }
}

@media screen and (min-width: 540px) {
    .services {
        &__list {
            padding: 0 10%;
        }
    }
}

@media screen and (min-width: 760px) {
    .services {
        &__list {
            padding: 0 15%;
        }
        p {
            font-size: 350%;
        }
        &__header {
            font-size: 375%;
        }
    }
}

@media screen and (min-width: 1050px) {
    .services {
        &__list {
            padding: 0 20%;
        }
        p {
            font-size: 400%;
        }
        h2 {
            font-size: $secondH2;
        }
        &__header {
            font-size: 425%;
        }
    }
}

@media screen and (min-width: 1300px) {
    .services {
        &__list {
            padding: 0 20%;
        }
        h2 {
            font-size: $thirdH2;
        }
    }
}

@media screen and (min-width: 1450px) {
    .services {
        &__list {
            padding: 0 25%;
        }
    }
}