.why-envysion {
    // min-height: $sectionHeight + .5vh;
    min-height: 275vh;
    background-color: $thisWhite;

    position: relative;
    overflow-x: hidden;
    margin-top: -.5%;

    display: flex;
    flex-direction: column;
    align-items: center;
    // min-width: 101%;
    min-width: 103vw;

    & h2 {
        @include homeH2;
    }
    & h3 {
        @include homeH3;
        margin: 5% 0 15% 0;
        padding: $paddingForCentering;
    }
    & p {
        @include homeP;
        margin-top: 15%;
        line-height: 1.3;
    }
    &__list {
        height: fit-content;
        padding: 0 5%;
        padding-bottom: 10%;
    }
    &__list--div {
        margin-top: 5%;
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    &__list--icon {
        height: 20em;
    }
}

@media screen and (min-width: 340px) {
    .why-envysion {
        &__list {
            // &--icon {
            //     width: 100%;
            //     height: auto;
            // }
        }
    }
}

@media screen and (min-width: 470px) {
    .why-envysion {
        &__list {
            p {
                font-size: 300%;
            }
            h3 {
                font-size: 350%;
            }
            // &--icon {
            //     width: 60%;
            //     height: auto;
            // }
        }
    }
}

@media screen and (min-width: 540px) {
    .why-envysion {
        &__list {
            padding: 0 10%;
        }
    }
}

@media screen and (min-width: 760px) {
    .why-envysion {
        &__list {
            padding: 0 15%;
            h3 {
                font-size: 375%;
            }
        }
    }
}

@media screen and (min-width: 1000px) {
    .why-envysion {
        max-width: 70vw;
        min-width: 70vw !important;
        min-height: 300vh;
        padding-top: 10%;
    }
    .tech-focused {
        justify-self: center;
    }
}

@media screen and (min-width: 1050px) {
    .why-envysion {
        h2 {
            font-size: $secondH2;
        }
        &__list {
            h3 {
                font-size: 425%;
            }
        }
    }
}

@media screen and (min-width: 1300px) {
    .why-envysion {
        h2 {
            font-size: $thirdH2;
        }
        &__list {
            padding: 0 20%;
        }
    }
}

@media screen and (min-width: 1450px) {
    .why-envysion {
        &__list {
            padding: 0 25%;
        }
    }
}