.about {
    height: $sectionHeight;
    background-color: $thisWhite;
    position: relative;
    overflow: hidden;
    & h2 {
        font-size: 500%;


        position: absolute;
        position: relative;
        top: 3%;
        left: 5%;
        margin-top: 0;
        margin-bottom: 0;
    }
    & h3 {
        font-family: 'Open Sans', sans-serif;
        font-size: 400%;
        

        margin: 0;
        position: absolute;
        position: relative;
        top: 5%;
        left: 5%;
        margin-right: 12%;
        margin-top: 0;
        margin-bottom: 0;
    };
    & p {
        font-family: 'Open Sans', sans-serif;
        font-size: 300%;
        font-weight: 500;
        color: $mainColor;
        letter-spacing: .2rem;

        padding: 4%;
        margin-top: 0;
        position: absolute;
        top: 20%;
        left: 1%;
        line-height: 1.3;
    }
}