.about {
    height: 100vh - $navHeightVar;
    background-color: #FEFDFF;
    position: relative;
    overflow: hidden;
    & h3 {
        font-family: 'Witha Sign II', sans-serif;
        font-size: 500%;
        margin: 0;
        position: absolute;
        position: relative;
        top: 3%;
        left: 5%;
    }
    & h2 {
        margin: 0;
        position: absolute;
        position: relative;
        top: 5%;
        left: 5%;
        font-size: 500%;
        margin-right: 5%;
    };
}