.contact {
    height: $sectionHeight;
    // background-image: linear-gradient($secondColor, $thirdColor);
    background-image: linear-gradient($thisWhite, $secondColor, $thirdColor);
    margin-top: -.5%;
}