.footer {
    // height: 65vh - $navHeight;
    // height: $sectionHeight;
    min-height: $sectionHeight + .5vh;

    background-image: linear-gradient($thisWhite, $secondColor, $thirdColor);
    margin-top: -.5%;

    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: flex-start;

    position: relative;

    overflow: hidden;
    
    // width: 101%;
    min-width: 103vw;

    // &-bottom {
    //     width: 100%; background-color: #063831; height: 7%; position: absolute; bottom: 0; margin-bottom: -1%; display: flex; justify-content: center;
    // }

    hr {
        margin: 0; 
        width: 98%;
        border-color: $mainColor;
        align-self: center;
    }
    
    .footer-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: $paddingForCentering;
    }

    &-logo {
        margin-top: 25%;
        width: 65%;
    }

    .footer-mission-statement {
        font-size: 300%;

        font-family: 'Open Sans', sans-serif;
        // font-size: 250%;
        font-weight: 500;
        // color: $mainColor;
        letter-spacing: .1rem;
        margin: 5% 0;
        // margin-top: 5%;
        // line-height: 1.3;
    }

    .footer-contacts {
        font-size: 225%;

        font-family: 'Open Sans', sans-serif;
        margin-top: 0;
        margin-bottom: 5%;
        // font-size: 250%;
        // font-weight: 500;
        // // color: $mainColor;
        // letter-spacing: .1rem;
        // margin-top: 5%;
        // line-height: 1.3;
    }

    .footer-social-links {
        &__div {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            height: 10%;
            width: 100%;
            margin: 0;
        }
        &__link {
            width: 10%;
            height: 100%;
            padding: 0 1%;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &__logo {
            width: 80%;
            margin-left: 30%;
            margin-right: 30%;
            margin-top: 15%;
            height: auto;
            cursor: pointer;
            transform: translate(0%, -15%);
        }
        &__logo--facebook {
            margin-left: 0%;
        }
        &__logo:hover {
            animation-name: shutter-in-top;
            animation-duration: 1s;
            animation-timing-function: ease;
            animation-delay: 0s;
            animation-iteration-count: 1;
            animation-direction: normal;
            animation-fill-mode: none;
            /* shorthand 
            animation: shake-vertical 1s ease 0s 1 normal none;
            */ 
        }
    }

    .footer-copyright {
        // font-size: 100%;
        // margin-bottom: 2em;
        // position: absolute;
        // bottom: 1%;
        // color: $thisWhite;
        // letter-spacing: .2em;

        font-family: 'Open Sans', sans-serif;
        font-size: 225%;
        // font-weight: 500;
        // letter-spacing: .1rem;
        // margin-top: 5%;
        // line-height: 1.3;
        
        position: absolute;
        bottom: 1%;
        color: $thisWhite;
    }
}

@media screen and (min-width: 1000px) {
    //
}

// @media screen and (min-width: 470px) {
//     .why-envysion {
//         &__list {
//             p {
//                 font-size: 325%;
//             }
//             h3 {
//                 font-size: 350%;
//             }
//         }
//     }
// }