.menu-cover {
    // @include cover;
    height: 99.75vh - $navHeight;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    // top: 0;
    bottom: 0;
    background-image: linear-gradient(transparent, $secondColor 75%), url('../../src/assets/global/stripes-light.png');
    z-index: 2;
    opacity: .95;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    &__list {
        margin-top: 7%;
        margin-left: 1%;
        margin-right: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 75%;
    }
    &__list--ul {
        @include hero-text;
        list-style-type: none;
        padding: 0;
        margin-left: 5%;
    }
    &__list--li {
        margin-bottom: 4%;
        opacity: 1;
        width: -moz-fit-content;
        width: fit-content;
        &:hover {
            color: $secondColor;
        }
    }
    &__list--anchor:link {
        @include anchorTags;
        cursor: pointer;
    }
    &__list--anchor:visited {
        @include anchorTags;
        cursor: pointer;
    }
    &--button-x {
        width: 10%;
        height: 60%;
        background-image: linear-gradient(to right, $mainColor, #000000);
        cursor: pointer;
        border-radius: 15%;
        position: relative;
        z-index: 3;

        right: 4%;
    };
};