.menu-cover {
    @include cover;
    width: 70vw;
    background-image: url('../../src/assets/stripes-light.png');// background-color: #ffffff;
    opacity: .97;
    z-index: 2;
    &__list {
        margin-top: 7%;
        margin-left: 1%;
    }
    &__list--ul {
        list-style-type: none;
        @include hero-text;
        padding: 0;
    }
    &__list--li {
        margin-bottom: 8%;
        position: relative;
    }
    &__list--anchor {
        display: inline-block;
    }
    &__list--anchor:hover {
        transform: translateX(15%);
    }
    &__list--anchor:link {
        @include anchorTags;
        cursor: pointer;
        position: relative;
    }
    &__list--anchor:visited {
        @include anchorTags;
        cursor: pointer;
    }
}