.menu-cover {
    @include cover;
    background-image: linear-gradient(transparent, $secondColor 75%), url('../../src/assets/stripes-light.png');
    z-index: 2;
    opacity: .95;
    &__list {
        margin-top: 7%;
        margin-left: 1%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    &__list--ul {
        list-style-type: none;
        @include hero-text;
        padding: 0;
    }
    &__list--li {
        margin-bottom: 4%;
        opacity: 1;
        width: -moz-fit-content;
        width: fit-content;
        &:hover {
            color: $fifthColor;
        }
    }
    &__list--anchor:link {
        @include anchorTags;
        cursor: pointer;
    }
    &__list--anchor:visited {
        @include anchorTags;
        cursor: pointer;
    }
}