.services {
    min-height: $sectionHeight;
    background-color: $thisWhite;
    // overflow: hidden;
    margin-top: -.5%;
    padding: $paddingForCentering;



    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    & h2 {
        font-size: 500%;
        display: inline-block;
        margin-top: 15%;
        align-self: center;
        // margin-bottom: 10%;
    }

    &__list {
        margin-top: 0;
        margin-bottom: 10%;
        height: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__div {
        width: 95%;
    }
    &__header {
        font-family: 'Open Sans', sans-serif;
        font-size: 400%;
        align-self: center;
        cursor: pointer;
    };
    &__paragraph {
        font-family: 'Open Sans', sans-serif;
        font-size: 300%;
        font-weight: 500;
        color: $mainColor;
        letter-spacing: .2rem;
        margin-top: 0;
        transition: height 0.5s;
    }
    .cta-orange__services {
        @include callToAction;
        align-self: center;
        margin-bottom: 20%;
    }
}
