.why-envysion {
    height: $sectionHeight;
    background-color: $thisWhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -.5%;

    & h2 {
        font-size: 500%;


        margin-top: 0;
        margin-bottom: 0;


        // position: absolute;
        // position: relative;
        // top: 3%;
        // left: 5%;
        // display: inline-block;
    }
}