.why-envysion {
    min-height: $sectionHeight;
    background-color: $thisWhite;
    margin-top: -.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    & h2 {
        font-size: 500%;
        margin-top: 15%;
        margin-bottom: 0;
    }
    & h3 {
        font-family: 'Open Sans', sans-serif;
        font-size: 400%;
        margin: 0;
        margin-top: 0;
        margin-bottom: 15%;
        margin-top: 5%;
        padding: $paddingForCentering
    }
    &__list {
        width: 80%;
        height: fit-content;
        padding: $paddingForCentering;
    }
    &__list--div {
        margin-top: 5%;
        height: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__list--icon {
        height: 20em;
    }
    &__list--paragraph {
        // height: 100%;
        // font-size: large;
        // margin-top: 15%;

        font-family: 'Open Sans', sans-serif;
        font-size: 300%;
        font-weight: 500;
        letter-spacing: .2rem;
        margin-top: 15%;
        line-height: 1.3;
    }
}