@import './utilities/animations.scss';
@import './utilities/vars.scss';

@import './pages/home/home';
@import './pages/home/growth';
@import './pages/home/services';
@import './pages/home/why-envysion';

@import './pages/contact/_contact-section';

@import './pages/blog/blog-entries.scss';
@import './pages/blog/blog-home.scss';

@import './global-components/footer';

@import './pages/faq/faq';


body, html {
    min-height: 100vh;
    max-height: 100vh;
    min-width: 100vw;
    max-width: 100vw;
    margin: 0;
    font-size: 62.5%;
    font-family: 'league_spartanbold';
    font-weight: 400;
    color: $mainColor;
    width: 100%;
    scroll-padding-top: $navHeight;
    ::selection{
        background-color: $secondColor;
    }
    .cta-orange {
        @include callToAction;
        &__second, &__services {
            align-self: center;
            &--blog {
                margin-bottom: 10% !important;
            }
        }
    }
    h1 {
        font-size: $firstH1;
    }
};

.section-padding {
    padding-bottom: 5vh;
}

.heading-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3%;
}

.heading {
    @include heroH2;
    font-size: 900%;
    margin: 0;
    &__hero {
        @include hero-text;
    };
};

#reference-link, .reference-link {
    color: #0000EE;
    text-decoration: underline;
}

.scroll {
    opacity: 0;
    filter: blur(15px);
    transition: all .6s;
    &__left {transform: translateX(-100%)};
    &__right {
        transform: translateX(100%);
        transition-delay: 100ms;
    };
    &__up {transform: translateY(25%)};
};

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transform: translateY(0);
}

@media(prefers-reduced-motion) {
    .scroll {
        transition: none;
    }
}

@media screen and (min-width: 540px) {
    .section-padding {
        padding-bottom:2vh;
    };
    h1 {
        font-size: 1100%;
    }
    .heading {font-size: 1000%;}
}

@media screen and (min-width: 1000px) {
    html {
        display: -ms-grid;
        display: grid;
        grid-template-areas: 
        'one one one one one one'
        'two two two two two three'
        ;
    }
    .wrapper {
        grid-area: two;
        right: 0;
        position: relative;
        max-width: 80vw;
        float: left;
        height: 100vh;
        overflow-x: hidden;
        overflow-y: scroll;
        padding: 0;
    };
    .section-padding {
        padding-bottom: 20vh;
        &:last-child {
            padding-bottom: 0;
        }
    };
    .footer {
        grid-area: three;
        bottom: 0;
        overflow: hidden;
        position: relative;
        height: 100vh;
        margin: 0;
        min-width: 25vw;
        max-width: 25vw;
        float: right;
    }
}

@media screen and (min-width: 1000px) {
    .cta-orange {
        &__second, &__why-envysion, &__services {
            margin-bottom: 0 !important;
        }
    }
}