@import './utilities/animations.scss';
@import './utilities/vars.scss';

@import './home/home';
@import './home/about';
@import './home/services';
@import './home/why-envysion';

@import './services/services-list';

@import './pricing/pricing-section';

@import './contact/contact-section';

@import './_menu-cover';
@import './footer';


body, html {
    min-height: 100vh;
    max-height: 100vh;
    min-width: 100vw;
    max-width: 100vw;
    margin: 0;
    font-size: 62.5%;
    font-family: 'league_spartanbold';
    // font-family: 'josefin_sansbold';
    // font-family: 'Josefin Sans', sans-serif;
    // font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: $mainColor;
    width: 100%;
    scroll-padding-top: $navHeight;
    ::selection{
        background-color: $secondColor;
    }
    .cta-orange {
        @include callToAction;
        &__about, &__services {
            align-self: center;
        }
    }
    h2 {
        font-size: $firstH2;
    }
};

#reference-link, .reference-link {
    color: #0000EE;
    text-decoration: underline;
}

@media screen and (min-width: 1000px) {
    html {
        display: -ms-grid;
        display: grid;
        grid-template-areas: 
        'one one one one one one'
        'two two two two two three'
        ;
    }
    .nav-area {
        grid-area: one;
    }
    .main {
        grid-area: two;
        right: 0;
        position: relative;
        max-width: 70vw;
        float: left;
        height: 100vh;
        overflow-x: hidden;
        overflow-y: scroll;
        padding: 0;
    }
    .footer {
        grid-area: three;
        bottom: 0;
        overflow: hidden;
        position: relative;
        height: 100vh;
        margin: 0;
        min-width: 30vw;
        max-width: 30vw;
        float: right;
        &-container {
            margin-top: 10vh;
        }
    }
}

@media screen and (min-width: 1000px) {
    .cta-orange {
        &__about, &__why-envysion, &__services {
            margin-bottom: 0 !important;
        }
    }
}