@import './utilities/animations.scss';
@import './utilities/vars.scss';

@import './pages/home/home';
@import './pages/home/growth';
@import './pages/home/services';
@import './pages/home/why-envysion';

@import './pages/services/services-list';

@import './pages/pricing/pricing-section';

@import './pages/contact/contact-section';

@import './global-components/menu-cover';
@import './global-components/footer';


body, html {
    min-height: 100vh;
    max-height: 100vh;
    min-width: 100vw;
    max-width: 100vw;
    margin: 0;
    font-size: 62.5%;
    font-family: 'league_spartanbold';
    // font-family: 'josefin_sansbold';
    // font-family: 'Josefin Sans', sans-serif;
    // font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: $mainColor;
    width: 100%;
    scroll-padding-top: $navHeight;
    ::selection{
        background-color: $secondColor;
    }
    .cta-orange {
        @include callToAction;
        &__growth, &__services {
            align-self: center;
        }
    }
    h2 {
        font-size: $firstH2;
    }
};

.home-section {
    padding-bottom: 5vh;
}

#reference-link, .reference-link {
    color: #0000EE;
    text-decoration: underline;
}

.scroll {
    opacity: 0;
    filter: blur(5px);
    transition: all .6s;
    &__left {transform: translateX(-100%)}
    &__right {
        transform: translateX(100%);
        transition-delay: 100ms;
    }
};

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media(prefers-reduced-motion) {
    .scroll {
        transition: none;
    }
}

@media screen and (min-width: 540px) {
    .home-section {
        padding-bottom:2vh;
    };
}

@media screen and (min-width: 1000px) {
    html {
        display: -ms-grid;
        display: grid;
        grid-template-areas: 
        'one one one one one one'
        'two two two two two three'
        ;
    }
    .nav-area {
        grid-area: one;
    }
    .wrapper {
        grid-area: two;
        right: 0;
        position: relative;
        max-width: 80vw;
        float: left;
        height: 100vh;
        overflow-x: hidden;
        overflow-y: scroll;
        padding: 0;
    };
    .home-section {
        padding-bottom: 20vh;
        &:last-child {
            padding-bottom: 0;
        }
    };
    .footer {
        grid-area: three;
        bottom: 0;
        overflow: hidden;
        position: relative;
        height: 100vh;
        margin: 0;
        min-width: 25vw;
        max-width: 25vw;
        float: right;
        &-container {
            margin-top: 10vh;
        }
    }
}

@media screen and (min-width: 1000px) {
    .cta-orange {
        &__growth, &__why-envysion, &__services {
            margin-bottom: 0 !important;
        }
    }
}