@import './vars.scss';
@import './animations.scss';
@import './_home';
@import './_menu-cover';
@import './_about';
@import './_services';
@import './_why-envysion';
@import './_pricing';
@import './contact';



body, html {
    height: 100%;
    margin: 0;
    font-size: 62.5%;
    font-family: 'League Spartan', sans-serif;
    font-weight: 400;
    color: $mainColor;
    width: 100%;
    scroll-padding-top: $navHeightVar;
};