@import './utilities/vars.scss';
@import './utilities/animations.scss';

@import './home/about';
@import './home/services';
@import './home/why-envysion';
@import './home/home';

@import './_menu-cover';
@import './_pricing';
@import './footer';



body, html {
    height: 100%;
    margin: 0;
    font-size: 62.5%;
    font-family: 'League Spartan', sans-serif;
    font-weight: 400;
    color: $mainColor;
    width: 100%;
    scroll-padding-top: $navHeight;
};

#reference-link {
    color: #0000EE;
    text-decoration: underline;
}