$navHeight: 7vh;
$sectionHeight: 100vh - $navHeight;
$box-shadow: 0 2.5rem 3rem rgba(8, 6, 6, 0.5);

$paddingForCentering: 0 4%;

//Classy Palette
$mainColor: #063831;
$secondColor: #97B1AB;
$thirdColor: #647C77;
$fourthColor: #1D324B;
$fifthColor: #4D607C;
$thisWhite: #FEFDFF;


@mixin cover {
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
@mixin transformTranslateNegative50 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@mixin hero-text {
    font-size: 500%;
    margin: .5rem 0 .5rem 1.5rem;
    animation-timing-function: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
@mixin anchorTags {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}
@mixin navHeight($height) {
    height: $height;
}
@mixin callToAction {
    padding: .75em 1em;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;



    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    background-color: #FFA50A;
    color: $thisWhite;
    font-size: 300%;
    transition: .2s;
    &:link {
        color: $thisWhite;
    }
    &:visited {
        color: $thisWhite;
    }
    &:hover {
        box-shadow: $box-shadow;
        transform: translateY(-7px);
    }
    &:active {
        box-shadow: 0 1.75rem 1.5rem rgba(8, 6, 6, 0.5);
        transform: translateY(0px);
    }
}